# SPDX-FileCopyrightText: Contributors to openadr-gui<https://github.com/ElaadNL/openadr-gui>
#
# SPDX-License-Identifier: Apache-2.0

# Example for running the 'local production test' docker-compose file
SECRET_KEY= #See readme
TZ=Europe/Amsterdam
DEBUG=False
API_URL=http://vtn:3000

# OAuth settings (openadr3-client)
OAUTH_TOKEN_ENDPOINT=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_SCOPES= # Optional, required for Entra

# OIDC settings (mozilla-django-oidc)
OIDC_RP_CLIENT_ID=
OIDC_OP_BASE_URL=

# Database settings (Postgres)
PG_USER=
PG_PASSWORD=
PG_DB=openadrgui

# Database settings (OpenADRGUI)
DB_PORT=5432
DB_HOST=db
DB_NAME=openadrgui
DB_USER=
DB_PASSWORD=
