# SPDX-FileCopyrightText: Contributors to openadr-gui<https://github.com/ElaadNL/openadr-gui>
#
# SPDX-License-Identifier: Apache-2.0

# Example for running the devcontainer
SECRET_KEY= # See readme
TZ=Europe/Amsterdam
DEBUG=True
API_URL=http://vtn:3000

# OAuth settings (openadr3-client)
OAUTHLIB_INSECURE_TRANSPORT=1 # So we don't have to set up TLS for Hydra
OAUTH_TOKEN_ENDPOINT=http://hydra:4444/oauth2/token
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
# Scopes is not required for Hydra

# OIDC settings (mozilla-django-oidc)
OIDC_RP_CLIENT_ID=
OIDC_RP_CLIENT_SECRET=
OIDC_OP_BASE_URL=

# Database settings (both OpenADRGUI and dev-database)
DB_PORT=5432
DB_HOST=db
DB_NAME=openadrgui
DB_USER=openadr
DB_PASSWORD=openadr
