<!--
SPDX-FileCopyrightText: Contributors to openadr-gui<https://github.com/ElaadNL/openadr-gui>

SPDX-License-Identifier: Apache-2.0
-->

{% extends "base.html" %}

{% block title %}Server Error (500){% endblock title %}

{% block content %}
<div class="col gap-4 items-center justify-center h-full">
    <h2 class="text-center text-3xl font-extrabold text-gray-900">
        You are logged out
    </h2>
    <p class="text-center text-sm text-gray-600">
        You are automatically logged in again if you navigate to any page.
    </p>
</div>
{% endblock content %}
