<!--
SPDX-FileCopyrightText: Contributors to openadr-gui<https://github.com/ElaadNL/openadr-gui>

SPDX-License-Identifier: Apache-2.0
-->

{% load widget_tweaks %}
{# Must always be in a c-modal component. #}
<form method="post"
enctype="multipart/form-data"
hx-post="{{ url }}"
hx-swap="outerHTML"
hx-disabled-elt="find button[type='submit']"
{# Prevent browser from keeping the previous values. #}
autocomplete="off"
novalidate>
    <div>
        <div class="flex flex-col gap-4">
            {% for field in generate_curve_form %}
                <c-form-field :field=field />
            {% endfor %}
        </div>
    </div>
    <c-form-errors :form=generate_curve_form />
    <div class="flex justify-end mt-6 flex gap-2">
        <button type="button" @click.prevent="$el.closest('dialog').close()" class="btn btn-ghost">Back</button>
        <button type="submit" class="btn btn-primary">
            <span>Generate Curve</span>
            <i class="bi bi-arrow-repeat animate-spin htmx-indicator"></i>
        </button>
    </div>
</form>
