<!--
SPDX-FileCopyrightText: Contributors to openadr-gui<https://github.com/ElaadNL/openadr-gui>

SPDX-License-Identifier: Apache-2.0
-->

<div class="row gap-2 items-center bg-warning-200 p-2 rounded-md border-warning border-2">
    <i class="text-2xl text-warning bi bi-exclamation-triangle-fill"></i>
    <p class="font-bold">Warning</p>
    <p class="text-sm text-base-content/70">{{ item_names }} are managed by a scheduled deployment. Changing the program content can break the deployment.</p>
</div>
